.SnackBar {
  background: #000;
  border-radius: 4px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);
  color: $white;
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  min-width: 288px;
  width: fit-content;
  z-index: 1;

  p {
    margin-bottom: 0;

    &.failure {
      background-color: $primary-red;
    }
  }
}